<launch>
  <arg name="real" default="false" />
  <arg name="limited" default="true"/>
  <arg name="debug" default="false" />

  <!-- Remap follow_joint_trajectory -->
  <remap if="$(arg real)" from="arm_controller/follow_joint_trajectory" to="follow_joint_trajectory"/>

  <!-- Launch moveit -->
  <include file="$(find husky_ur5_moveit_config)/launch/move_group.launch">
    <arg name="debug" default="$(arg debug)" />
  </include>
</launch>
