<launch>
  <node pkg="arm_nav_correct" name="arm_correction" type="arm_correction.py" output="screen">

    <rosparam>
       ee_position: [0.9, 0.0, 0.4]
       arm_group_name: ur5_arm
       transition_group_state: transition
       work_group_state: work
       reference_frame: map
       allow_replanning: True
       position_tolerance: .01
       orientation_tolerance: .08
       cartestian_path: True
       cp_max_attempts: 100
       workface_offset: 1.0
    </rosparam>

  </node>
</launch>
