<?xml version="1.0"?>
<launch>

  <arg name="laser_enabled" default="true"/>
  <arg name="ur5_enabled" default="false"/>
  <arg name="ur5_camera_enabled" default="true"/>
  <arg name="ur5_mbzirc_gripper_enabled" default="false" />
  <arg name="kinect_enabled" default="false"/>
  <arg name="kinectv2_enabled" default="true"/>
  <arg name="primesense_enabled" default="false"/>

  <!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
  <include file="$(find husky_gazebo)/launch/husky_empty_world.launch">
    <arg name="world_name" value="$(find husky_gazebo)/worlds/ccam_playpen.world"/>
    <arg name="laser_enabled" value="$(arg laser_enabled)"/>
    <arg name="ur5_enabled" value="$(arg ur5_enabled)"/>
    <arg name="ur5_camera_enabled" value="$(arg ur5_camera_enabled)"/>
    <arg name="ur5_mbzirc_gripper_enabled" value="$(arg ur5_mbzirc_gripper_enabled)" />
    <arg name="kinect_enabled" value="$(arg kinect_enabled)"/>
    <arg name="kinectv2_enabled" value="$(arg kinectv2_enabled)"/>
    <arg name="primesense_enabled" value="$(arg primesense_enabled)"/>
  </include>

</launch>
