<?xml version="1.0"?>
<launch>
  <arg name="calibration" default="" />
  <arg name="min_z" default="0.5"/>
  <arg name="max_z" default="1.0"/>
  <arg name="min_range" default="1.0"/>
  <arg name="frame_id" default="base_link"/>
  <arg name="topic" default="/velodyne/scan"/>
  <arg name="angular_res" default="0.5" />
  <arg name="node_name" default="but_velodyne_proc_laserscan_node"/>
  <node pkg="but_velodyne_proc" type="laser_scan" name="$(arg node_name)" output="screen">
    <remap from="points_in" to="/velodyne_points" />
    <remap from="scan_out" to="$(arg topic)" />
    <param name="min_z" value="$(arg min_z)" />
    <param name="max_z" value="$(arg max_z)" />
    <param name="angular_res" value="$(arg angular_res)" />
    <param name="min_range" value="$(arg min_range)" />
    <param name="frame_id" value="$(arg frame_id)" />
  </node>
</launch>
