<?xml version="1.0"?>
<launch>
  <arg name="joy_dev" value="/dev/input/js0" />
  <arg name="joystick" value="true" />

  <node pkg="rosserial_python" type="serial_node.py" name="serial_node_left_motors">
    <param name="port" value="/dev/ttyACM0"/>
  </node>

  <node pkg="rosserial_python" type="serial_node.py" name="serial_node_right_motors">
    <param name="port" value="/dev/ttyACM1"/>
  </node>
  

  <node pkg="tele_controller" type="odom_pub_node" name="odom_pub_node"/>
  <node pkg="tele_controller" type="joy_teleop2.py" name="teleop_node"/>
  <node pkg="joy" type="joy_node" name="joy_node"/>

  <!--rosparam command="load" file="$(find vtrex_control)/config/teleop.yaml" />

  <node pkg="joy" type="joy_node" name="joy_node">
    <param name="dev" value="$(arg joy_dev)" />
  </node>

  <node pkg="teleop_twist_joy" type="teleop_node" name="teleop_twist_joy"/-->

  <include file="$(find swiftnav_piksi)/launch/swiftnav_piksi.launch"/>
  <node pkg="tf" name="gps2odom" type="static_transform_publisher" args="5.755 -3.294 -0.507 -0.9076 0 0 gps odom 100"/>

  <include file="$(find vtrex_description)/launch/description.launch"/>
  
  <node pkg="microstrain_3dmgx2_imu" type="imu_node" name="imu_node">
    <param name="time_offset" value="-0.040" />
    <param name="port"  type="string" value="/dev/ttyUSB0" />
    <param name="autostart" type="bool" value="true" />
    <param name="frameid"  type="string" value="imu" />
    <param name="autocalibrate" type="bool" value="true" />
    <param name="angular_velocity_stdev" type="double" value="0.00017" />
  </node>
 
 <!--node pkg="um7" type="um7_driver" name="imu_node">
    <param name="port" value="/dev/ttyUSB1"/>
    <param name="zero_gyros" value="true"/>
    <param name="covariance" value="0 0 0 0 0 0.00000001 0 0odo 0.000000001"/>
  </node-->

  <node pkg="robot_localization" type="ekf_localization_node" name="ekf_localization" >
    <rosparam command="load" file="$(find vtrex_control)/config/localization.yaml" />
  </node>

</launch>
