<?xml version="1.0"?>
<launch>

  <rosparam command="load" file="$(find vtrex_control)/config/vtrex_control.yaml" />
  <node name="base_controller_spawner" pkg="controller_manager" type="spawner"
        args="vtrex_joint_publisher vtrex_velocity_controller --shutdown-timeout 1" />

  <node pkg="robot_localization" type="ekf_localization_node" name="ekf_localization"> 
    <rosparam command="load" file="$(find vtrex_control)/config/robot_localization.yaml" />
  </node>

  <node pkg="topic_tools" type="relay" name="cmd_vel_relay"
        args="cmd_vel vtrex_velocity_controller/cmd_vel" />



  <!--node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
  <param name="robot_description" command="$(find xacro)/xacro.py '$(find vtrex_description)/urdf/vtrex.xacro'" />
  <remap from="/joint_states" to="/vtrex/joint_states" / -->

</launch>
