<?xml version="1.0"?>
<launch>
  <arg name="physical_robot" default="false" />
  <arg name="limited" default="true"/>
  <arg name="debug" default="false" />
  <arg name="joint_limit" default="true" />

  <!-- Remap follow_joint_trajectory -->
  <remap if="$(arg physical_robot)" from="arm_controller/follow_joint_trajectory" to="follow_joint_trajectory"/>

  <!-- We do not have a robot connected, so publish fake joint states -->
  <!--node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <param name="/use_gui" value="false"/>
    <rosparam param="/source_list">[/move_group/fake_controller_joint_states]</rosparam>
  </node-->

  <!-- Launch moveit -->
  <include file="$(find vtrex_ur5_moveit)/launch/move_group.launch">
    <arg name="debug" default="$(arg debug)" />
    <arg name="joint_limit" default="$(arg joint_limit)"/>
  </include>
</launch>
