<?xml version="1.0"?>
<launch>

<include file="$(find mbzirc_c2_auto)/launch/h-arena2-wrench.launch">
  <arg name="paused" value="true" />
  <arg name="ur5_camera_enabled" value="false"/>
  <arg name="kinectv2_enabled" value="true"/>
</include>
<include file="$(find mbzirc_c2_auto)/launch/move_base.launch">
  <arg name="no_static_map" value="true"/>
  <arg name="oscillation_timeout" value="0.0"/>
</include>
<include file="$(find husky_ur5_moveit_config)/launch/husky_ur5_planning_execution.launch"/>
<node name="move_arm_topic" pkg="mbzirc_c2_auto" type="move_arm_topic.py" />
<!-- include file="$(find mbzirc_c2_auto)/launch/gmapping.launch" / -->
<!-- include file="$(find mbzirc_c2_auto)/launch/view_robot.launch" / -->

<node name="state_machine" pkg="mbzirc_c2_state" type="mbzirc_simulation_state_machine.py" output='screen'/>
<!-- node name="state_viewer" pkg="smach_viewer" type="smach_viewer.py" output='screen'/ -->

<node name="arm_kalman" pkg="mbzirc_c2_auto" type="arm_kalman_move.py" />

<!-- node name="board" pkg="mbzirc_c2_auto" type="panel-k.sh" / -->
<node name="image_view" pkg="image_view" type="image_view">
  <remap from="image" to="/mybot/camera1/image_raw"/>
</node>

<node name="image_view2" pkg="image_view" type="image_view">
  <remap from="image" to="/output/keyevent_image"/>
</node>


</launch>
