<?xml version="1.0"?>
<launch>

  <param name="node_logging" value="INFO"/>
  <param name="sm_version" value="old"/>
  <param name="physical_robot" value="false"/>
  <arg name="physical_robot" default="false"/>
  <arg name="fake_robot" default="true"/>
  <arg name="paused" default="true"/>
  <arg name="world_name" default="$(find mbzirc_c2_auto)/gazebo_models/world/mbzirc_arena_task_2_test3.world"/>
  <arg name="state_machine" default="true"/>
  <arg name="state_machine_type" default="normal"/>
  <arg name="joint_limit" default="false"/>
  <arg name="trex_enabled" default="false"/>
  <arg name="husky_enabled" default="true"/>


  <arg name="velodyne_enabled" default="false"/>
  <arg name="sick_enabled" default="true"/>
  <arg name="sawyer_enabled" default="false"/>
  <arg name="ur5_enabled" default="true"/>
  <arg name="kinectv2_enabled" default="true"/>

  <group if="$(arg velodyne_enabled)" >
    <param name="lidar" value="velodyne"/>
    <node pkg="but_velodyne_proc" type="laser_scan" name="but_velodyne_proc_laserscan_node"
          output="screen">
      <remap from="points_in" to="/velodyne_points" />
      <remap from="scan_out" to="/scan" />
      <param name="min_z" value="0" />
      <param name="max_z" value="1" />
      <param name="angular_res" value="0.5" />
      <param name="min_range" value="0" />
      <param name="frame_id" value="base_laser" />
    </node>
  </group>

  <group if="$(arg sick_enabled)">
    <param name="lidar" value="sick"/>
  </group>

  <group if="$(arg fake_robot)">
    <include file="$(find mbzirc_c2_auto)/launch/v-arena2.launch">
      <arg name="paused" value="$(arg paused)" />
      <arg name="world_name" value="$(arg world_name)" />
    </include>
    <group if="$(arg ur5_enabled)">
      <node name="move_arm_topic" pkg="mbzirc_c2_auto" type="move_arm_topic.py" />
    </group>
    <group if="$(arg sawyer_enabled)">
      <!-- Add correct node here -->
    </group>

    <group if="$(arg trex_enabled)">
      <include file="$(find vtrex_gazebo)/launch/vtrex-spawn.launch">
        <arg name="velodyne_enabled" value="$(arg velodyne_enabled)"/>
        <arg name="sick_enabled" value="$(arg sick_enabled)"/>
        <arg name="sawyer_enabled" value="$(arg sawyer_enabled)"/>
        <arg name="ur5_enabled" value="$(arg ur5_enabled)"/>
        <arg name="kinectv2_enabled" value="$(arg kinectv2_enabled)"/>
      </include>
    </group>

    <group if="$(arg husky_enabled)">
      <include file="$(find mbzirc_c2_auto)/launch/h-spawn.launch">
        <arg name="velodyne_enabled" value="$(arg velodyne_enabled)"/>
        <arg name="sick_enabled" value="$(arg sick_enabled)"/>
        <arg name="sawyer_enabled" value="$(arg sawyer_enabled)"/>
        <arg name="ur5_enabled" value="$(arg ur5_enabled)"/>
        <arg name="kinectv2_enabled" value="true"/>
      </include>
    </group>
  </group>

  <group if="$(arg physical_robot)">
    <group if="$(arg ur5_enabled)">
      <node name="move_arm_topic" pkg="mbzirc_c2_auto" type="move_arm_topic_phys.py" />
    </group>
    <group if="$(arg sawyer_enabled)">
      <node name="move_arm_topic" pkg="mbzirc_c2_auto" type="move_arm_topic_sawyer.py" />
    </group>
  </group>

  <group if="$(arg trex_enabled)">
    <group if="$(arg ur5_enabled)">
      <include file="$(find vtrex_ur5_moveit)/launch/vtrex_ur5_planning_execution.launch">
        <arg name="physical_robot" value="$(arg physical_robot)"/>
        <arg name="joint_limit" value="$(arg joint_limit)"/>
      </include>
    </group>
    <group if="$(arg sawyer_enabled)">
      <!-- Add the correct include file here -->
    </group>
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find mbzirc_c2_auto)/rviz/vtrex.rviz"
      output="screen"/>
  </group>

  <group if="$(arg husky_enabled)">
    <group if="$(arg ur5_enabled)">
      <include file="$(find husky_ur5_moveit_config)/launch/husky_ur5_planning_execution.launch">
        <arg name="joint_limit" value="$(arg joint_limit)"/>
      </include>
    </group>
    <group if="$(arg sawyer_enabled)">
      <!-- Add the correct include file here -->
    </group>
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find mbzirc_c2_auto)/rviz/husky.rviz"
      output="screen"/>
  </group>

  <include file="$(find mbzirc_c2_auto)/launch/move_base.launch">
    <arg name="no_static_map" value="true"/>
    <arg name="oscillation_timeout" value="10.0"/>
  </include>

  <include file="$(find mbzirc_c2_auto)/launch/gmapping.launch" />

  <group if="$(arg state_machine)">
    <node name="state_machine" pkg="mbzirc_c2_state" type="mbzirc_ch2_sm.py"
      args="$(arg state_machine_type)" output='screen'/>
    <node name="state_viewer" pkg="smach_viewer" type="smach_viewer.py" output='screen'/>
  </group>

  <node name="arm_kalman" pkg="mbzirc_c2_auto" type="arm_kalman_move.py" />

</launch>
