<?xml version="1.0"?>
<launch>
  <include file="$(find mbzirc_c2_auto)/launch/h-control.launch" />
  <include file="$(find husky_ur5_moveit_config)/launch/husky_ur5_planning_execution.launch">
    <arg name="velodyne_lidar" value="true"/>
    <arg name="sick_enabled" value="false"/>
  </include>
  <node name="move_arm_topic" pkg="mbzirc_c2_auto" type="move_arm_topic.py" />
</launch>
