<?xml version="1.0"?>
<launch>
  <arg name="laser_enabled" default="true"/>
  <arg name="ur5_enabled" default="false"/>
  <arg name="kinect_enabled" default="true"/>
  <include file="$(find mbzirc_c2_auto)/launch/h-empty-world.launch">
    <arg name="world_name" value="$(find mbzirc_c2_auto)/gazebo_models/world/mbzirc_arena_task_2.world"/>
    <arg name="laser_enabled" value="$(arg laser_enabled)"/>
    <arg name="ur5_enabled" value="$(arg ur5_enabled)"/>
    <arg name="kinect_enabled" value="$(arg kinect_enabled)"/>
  </include>

</launch>
