<launch>

<include file="$(find mbzirc_c2_auto)/launch/h-arena2.launch">
  <arg name="ur5_enabled" value="true" />
</include>
<include file="$(find mbzirc_c2_auto)/launch/move_base.launch">
  <arg name="no_static_map" value="true"/>
</include>

<include file="$(find husky_ur5_moveit_config)/launch/husky_ur5_planning_execution.launch"/>

<node name="board" pkg="mbzirc_c2_auto" type="panel.sh" />

</launch>
